<div class="base-header container" fxFlex="100" fxLayout="row" fxLayoutAlign="center">
  <div class="button" fxFlex="25">
    <button (click)="goBack()">
      <img src="assets/icons/arrow.svg">
      <span id="back-to-cloud" *ngIf=" headerName === 'Home' || headerName === ''"></span>
      <span id="back"  *ngIf=" headerName !== 'Home' && headerName !== '' "></span>
    </button>
    <div class="title" *ngIf=" headerName !== 'Home'">{{headerName}}</div>
  </div>
  <div class="logo item" fxFlex="50" (click)="goToPage('/home')">
    <img src="assets/images/logo.png">
  </div>
  <div class="user-name item" fxFlex="25">
    <button class="login-btn" (click)="logOut()" *ngIf="isLogin()">Log Out</button>
    <!--<span>Person Name</span>-->
    <!--<img src="assets/images/user.png">-->
  </div>
</div>

