<div class="filter-component">
  <div class="custom-btn" fxFlex="100" fxLayout="row-reverse">
    <button fxFlex="14" (click)="toggleFilter()">
      <img src="assets/icons/filter-icon.png">
      Filter
    </button>
  </div>
  <div id="light" class="filter-panel bright_content" *ngIf="showFilter">
    <button class="close-btn" (click)="toggleFilter()"><img src="assets/icons/close-icon.png"></button>
    <p>FILTER</p>

    <label for="product-type">Product Type</label>
    <input id="product-type" type="text" maxlength="72"  [(ngModel)]="filterParams.productType">

    <label for="phase">Phase (Building Name)</label>
    <input id="phase" type="text" maxlength="72"  [(ngModel)]="filterParams.phase">

    <label for="unit-type">Unit Type</label>
    <input id="unit-type" type="text" maxlength="72"  [(ngModel)]="filterParams.unitType">

    <label for="model">Model</label>
    <input id="model" type="text" maxlength="72"  [(ngModel)]="filterParams.unitModel">

    <label for="bedrooms">Bedrooms</label>
    <input id="bedrooms" type="text" maxlength="72" [(ngModel)]="filterParams.bedrooms">

    <label for="budget">Budget</label>
    <input id="budget" type="text" maxlength="24" (keypress)="onlyNumberKey($event)" [(ngModel)]="filterParams.unitPrice">

    <button class="filter-btn" (click)="getPropertiesWithFilter()">Search</button>

  </div>
</div>
