<div class="filter-component">
  <div class="custom-btn" fxFlex="100" fxLayout="row-reverse">
    <button fxFlex="14" (click)="toggleFilter()">
      <img src="assets/icons/filter-icon.png">
      Filter
    </button>
  </div>
  <div id="light" class="filter-panel bright_content" *ngIf="filterClose.showFilter">
    <button class="close-btn" (click)="toggleFilter()"><img src="assets/icons/cancel-icon.png"></button>
    <button class="clear-btn" (click)="clearAllFilters()">Clear</button>
    <p>FILTER</p>

    <div *ngIf="type === 'properties'">
      <label for="product-type">Product Type</label>
      <input id="product-type" type="text" maxlength="72"  [(ngModel)]="filterParams.productType">

      <label for="phase">Phase</label>
      <input id="phase" type="text" maxlength="72"  [(ngModel)]="filterParams.phase">

      <label for="cluster">Cluster</label>
      <input id="cluster" type="text" maxlength="72"  [(ngModel)]="filterParams.cluster">

      <label for="building-name">Building Name</label>
      <input id="building-name" type="text" maxlength="72"  [(ngModel)]="filterParams.buildingName">

      <label for="floor">Floor</label>
      <input id="floor" type="text" maxlength="72"  [(ngModel)]="filterParams.floor">

      <label for="unit-type">Unit Type</label>
      <mat-select id="unit-type" [(value)]="filterParams.unitType">
        <mat-option value="">Select unit type</mat-option>
        <mat-option *ngFor="let item of unitTypes" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
      <!--<input id="unit-type" type="text" maxlength="72"  [(ngModel)]="filterParams.unitType">-->

      <label for="bedrooms">Bedrooms</label>
      <input id="bedrooms" type="text" maxlength="72" [(ngModel)]="filterParams.bedrooms">

      <label>Budget</label>
      <br>
      <input id="budget-from" type="text" maxlength="24" (keypress)="onlyNumberKey($event)" [(ngModel)]="filterParams.unitPriceFrom" placeholder="From">
      <input id="budget-to" type="text" maxlength="24" (keypress)="onlyNumberKey($event)" [(ngModel)]="filterParams.unitPriceTo" placeholder="To">
    </div>

    <div *ngIf="type === 'leads'">
      <label for="lead-name">Lead Name</label>
      <input id="lead-name" type="text" maxlength="72"  [(ngModel)]="filterParams.leadName">

      <label for="phone">Phone</label>
      <input id="phone" type="text" maxlength="72"  [(ngModel)]="filterParams.phone">

      <label for="email">Email</label>
      <input id="email" type="text" maxlength="72"  [(ngModel)]="filterParams.email">

      <label for="rank">Rank</label>
      <mat-select id="rank" [(value)]="filterParams.rank">
        <mat-option value="">Select rank</mat-option>
        <mat-option value="Hot">Hot</mat-option>
        <mat-option value="Warm">Warm</mat-option>
        <mat-option value="Cold">Cold</mat-option>
      </mat-select>

      <label for="qualification">Qualification</label>
      <input id="qualification" type="text" maxlength="72"  [(ngModel)]="filterParams.qualification">

      <label for="nationality">Nationality</label>
      <input id="nationality" type="text" maxlength="72"  [(ngModel)]="filterParams.nationality">

      <label for="lead-number">Lead Number</label>
      <input id="lead-number" type="text" maxlength="72"  [(ngModel)]="filterParams.leadNumber">

      <label for="creation-date">Creation Date</label>
      <input id="creation-date" matInput [matDatepicker]="createPicker" [(ngModel)]="filterParams.creation">
      <mat-datepicker-toggle matSuffix [for]="createPicker"></mat-datepicker-toggle>
      <mat-datepicker #createPicker></mat-datepicker>

      <label for="last-update">Last Update Date</label>
      <input id="last-update" matInput [matDatepicker]="updatePicker" [(ngModel)]="filterParams.lastUpdate">
      <mat-datepicker-toggle matSuffix [for]="updatePicker"></mat-datepicker-toggle>
      <mat-datepicker #updatePicker></mat-datepicker>

      <label for="assigned-to">Assigned to</label>
      <input id="assigned-to" type="text" maxlength="72" [(ngModel)]="filterParams.assignedTo">
    </div>

    <div *ngIf="type === 'opportunities'">
      <label for="opportunity-no">Opportunity Number</label>
      <input id="opportunity-no" type="text" maxlength="72"  [(ngModel)]="filterParams.optNo">

      <label for="primary-purch">Primary Purchaser</label>
      <input id="primary-purch" type="text" maxlength="72"  [(ngModel)]="filterParams.primaryPurch">

      <label for="action">Action Type</label>
      <input id="action" type="text" maxlength="72"  [(ngModel)]="filterParams.action">

      <!-- <label for="unit-type">Unit Type</label>
      <mat-select id="unit-type" [(value)]="filterParams.unitType">
        <mat-option value="">Select unit type</mat-option>
        <mat-option *ngFor="let item of unitTypes" [value]="item">
          {{item}}
        </mat-option>
      </mat-select> -->

      <label for="unit-number">Unit Number</label>
      <input id="unit-number" type="text" maxlength="72"  [(ngModel)]="filterParams.unitNumber">

      <label for="creation-date">Creation Date</label>
      <input id="creation-date" matInput [matDatepicker]="createPicker" [(ngModel)]="filterParams.creation">
      <mat-datepicker-toggle matSuffix [for]="createPicker"></mat-datepicker-toggle>
      <mat-datepicker #createPicker></mat-datepicker>

      <label for="last-update">Last Update Date</label>
      <input id="last-update" matInput [matDatepicker]="updatePicker" [(ngModel)]="filterParams.lastUpdate">
      <mat-datepicker-toggle matSuffix [for]="updatePicker"></mat-datepicker-toggle>
      <mat-datepicker #updatePicker></mat-datepicker>
    </div>

    <button class="filter-btn" (click)="getPropertiesWithFilter()">Search</button>

  </div>
</div>
