<div class="generate-quote">
  <div class="quote-content">
    <div class="general-info">
      <div class="space-between">
        <p style="color: #f89716">{{optyDetails?.CreationDate | date : 'dd/MM/yyyy'}}</p>
        <p>Subject: Quatation for {{unitDetails?.MAF_ProjectName_c}}</p>
      </div>
      <div>
        <p>to: {{optyDetails?.PrimaryContactPartyName}}</p>
        <p>Thank You for your interest in {{unitDetails?.MAF_ProjectName_c}} {{unitDetails?.MAF_PhaseName_c}} </p>
        <p>We are pleased to offer you the following quatation:</p>
      </div>
    </div>
    <div class="unit-info">
      <div class="title-block" style="background-color: #8a1638;">
        {{unitDetails?.MAF_ProjectName_c}} {{unitDetails?.MAF_PhaseName_c}}
      </div>
      <div class="properties-table">
        <div class="table">
          <div class="table-header">
            <div class="table-cell">Unit Type</div>
            <div class="table-cell">Phase</div>
            <div class="table-cell">Product</div>
            <div class="table-cell">Product No.</div>
            <div class="table-cell">Plot Area</div>
            <div class="table-cell">Built-up Area</div>
            <div class="table-cell">Price</div>
          </div>
          <div class="table-body">
            <div class="table-row" *ngIf = "unitDetails">
              <div class="table-cell unit-name">{{unitDetails?.MAF_UnitType_c}}</div>
              <div class="table-cell">{{unitDetails?.MAF_PhaseName_c}}</div>
              <div class="table-cell">{{unitDetails?.MAF_ProjectName_c}}</div>
              <div class="table-cell">{{unitDetails?.ItemNumber}}</div>
              <div class="table-cell">{{unitDetails?.MAF_PlotAreaSqFt_c | number: 0}}</div>
              <div class="table-cell">{{unitDetails?.MAF_BuiltupAreaSqFt_c | number: 0}}</div>
              <div class="table-cell">{{unitDetails?.MAF_UnitPrice_c | number: 0}}</div>
            </div>
            <div *ngIf = "!unitDetails" class="empty-table">
              <p>
                No data about unit
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="space-between">
        <p>Payment Plan Discount ({{ optyDetails?.MAF_PPAmountPercentage_c ? optyDetails?.MAF_PPAmountPercentage_c : 0}}%)</p>
        <p>{{optyDetails?.MAF_PPDiscountedValue_c ? (optyDetails?.MAF_PPDiscountedValue_c | number : '1.2-2') : 0}}</p>
      </div>
      <div class="space-between">
        <p>Approved Discount ({{optyDetails?.MAF_Discount_c ? optyDetails?.MAF_Discount_c : 0}}%)</p>
        <p>{{optyDetails?.MAF_DiscountOpty_c ? (optyDetails?.MAF_DiscountOpty_c | number : '1.2-2') : 0 }}</p>
      </div>
      <div class="space-between">
        <p>Taxable Price</p>
        <p>{{optyDetails?.MAF_Price_c ? (optyDetails?.MAF_Price_c | number : '1.2-2') : 0}}</p>
      </div>
      <div class="space-between">
        <p>VAT ({{optyDetails?.MAF_VATPct_c ? (optyDetails?.MAF_VATPct_c | number : '1.2-2') : 0}}%)</p>
        <p>{{optyDetails?.MAF_VATAmount_c ? (optyDetails?.MAF_VATAmount_c | number: '1.2-2') : 0}}</p>
      </div>
      <div class="space-between">
        <p>Total Amount</p>
        <p>{{optyDetails?.MAF_BdgtAmount_c ? (optyDetails?.MAF_BdgtAmount_c | number: '1.2-2') : 0}}</p>
      </div>
    </div>
    <div class="payplan-info">
      <div class="title-block">
        PAYMENT PLAN SCHEDULE
      </div>
      <div *ngIf = "milestonesData?.length > 0">
        <div class="table">
          <div class="table-header">
            <div class="table-cell" style="flex: 0.5">Payment</div>
            <div class="table-cell" style="flex: 0.5">Percentage</div>
            <div class="table-cell" style="flex: 1.5">Milestone Description</div>
            <div class="table-cell">Date</div>
            <div class="table-cell">Type</div>
          </div>
          <div class="table-body">
            <div class="table-row" *ngFor="let milestone of milestonesData; index as i">
              <div class="table-cell" style="flex: 0.5">{{i + 1}}</div>
              <div class="table-cell" style="flex: 0.5">{{milestone.Percentage_c}}</div>
              <div class="table-cell" style="flex: 1.5">{{milestone.MAF_MilestoneName_c}}</div>
              <div class="table-cell">{{milestone.CreationDate | date : 'dd/MM/yyyy'}}</div>
              <div class="table-cell">{{milestone.MilestoneType_c}}</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf = "milestonesData?.length === 0">
        <p>Milestones list is empty</p>
      </div>
      <div class="description">
        <span>{{optyDetails?.DescriptionText}}</span>
      </div>
    </div>
  </div>
  <div class="action-block">
    <button class="cancel-bnt" (click)="cancel()">Cancel</button>
    <button  (click)="print()">
      <!-- <img src="assets/icons/icon_print.png"> -->
      Print</button>
  </div>
</div>
