<div class="create-lead edit">
  <div class="lead-different-details">
    <div class="inputs-block">
      <div fxFlex="50">
        <div class="field-block">
          <label for="primary">Lead Name</label>
          <input id="primary" type="text" [(ngModel)]="newLead.Name" placeholder="300000007072390">
        </div>

        <div class="field-block">
          <label for="secondary">Project</label>
          <input id="secondary" type="text" [(ngModel)]="newLead.MAF_Project_c" placeholder="Tilal Al Ghaf - Dubai">
        </div>

        <div class="field-block">
          <label for="primaryPurch">Primary Purchaser</label>
          <mat-select id="primaryPurch" [(ngModel)]="newLead.PrimaryContactId" placeholder="Select primary purchaser">
            <mat-option *ngFor="let item of contactsList" [value]="item.PartyId">{{item.ContactName}}</mat-option>
          </mat-select>
        </div>
      </div>

      <div fxFlex="50">

        <div class="field-block">
          <label for="owner">Source</label>
          <input id="owner" type="text" [(ngModel)]="newLead.MAF_SOURCE_c" placeholder="Referral_TAG">
        </div>

        <div class="field-block">
          <label for="unitType">Method Of Enquiry</label>
          <input id="unitType" type="text" [(ngModel)]="newLead.MethodOfEnquiry_c" placeholder="Call Center_TAG">
        </div>
      </div>
    </div>
  </div>

  <div class="action-block">
    <button class="cancel-bnt" (click)="goToPage('/leads')">Cancel</button>
    <button (click)="createLead()">Create</button>
  </div>
</div>
