<div class="lead-different-details">
  <div class="inputs-block">
    <div fxFlex="50">
      <div class="field-block">
        <label for="type">Identification Type</label>
        <input id="type" type="text" [(ngModel)]="identificationContactData.MAF_IdentificationType_c">
      </div>

      <div class="field-block">
        <label for="number">Identification No.</label>
        <input id="number" type="text" [(ngModel)]="identificationContactData.MAF_IDNo_c">
      </div>

      <div class="field-block">
        <label for="authority">Issuing Authority</label>
        <input id="authority" type="text" [(ngModel)]="identificationContactData.MAF_IssuingAuthority_c">
      </div>

      <!--<div class="attachment-block">
        <p>Attachments:</p>
        <angular-file-uploader
          [config]="afuConfig">
        </angular-file-uploader>
      </div>-->

    </div>

    <div fxFlex="50">
      <div class="field-block">
        <label for="issueDate">Issue Date</label>
        <input id="issueDate" matInput [matDatepicker]="issueDatePicker" [(ngModel)]="identificationContactData.MAF_IssueDate_c" disabled>
        <mat-datepicker #issueDatePicker disabled></mat-datepicker>
      </div>

      <div class="field-block">
        <label for="expiryDate">Expiry Date</label>
        <input id="expiryDate" matInput [matDatepicker]="expiryDatePicker" [(ngModel)]="identificationContactData.MAF_ExpiryDate_c" disabled>
        <mat-datepicker #expiryDatePicker disabled></mat-datepicker>
      </div>
    </div>
  </div>
</div>
