.success-icon {
  width: 100%;
  margin: 0 auto;
}

.close-btn {
  width: 100%;
  text-align: right;
  button {
    background-color: transparent;
    border: none;
    img {
      width: 35px;
    }
  }
}
