<div class="properties">
  <app-search
    [inputList]="propertiesListOriginal"
    [searchColumns]="searchColumns"
    (searchChange)="changeSearch($event)"
  ></app-search>
  <app-filter
    [type]="'properties'"
    (changeFilter)="changeFilter($event)"
    (changeFilterParams)="changeFilterParams($event)"
  ></app-filter>
  <div class="properties-table">
    <div class="table">
      <div class="table-header">
        <div class="table-cell" *ngFor="let element of displayedColumns" (click)="sortByKey(element)" [class]="'table-cell ' + element.sort">
          {{element.name}}
          <i class="fa fa-chevron-down" *ngIf="element.sort"></i>
        </div>
      </div>
      <div class="table-body">
        <div class="table-row" *ngFor="let propertie of propertiesList" (click)="goToPage('/unit-details/' + propertie.InventoryItemId)">
          <div class="table-cell unit-name">
            <!--<img src="assets/images/unit.png">-->
            <img [src]="getTitleImage(propertie.MAF_UnitType_c)" [alt]="getTitleImage(propertie.MAF_UnitType_c)">
            <div>
              <p>{{propertie.MAF_UnitType_c}}</p>
            </div>
          </div>
          <div class="table-cell phase">{{propertie.MAF_PhaseName_c}}</div>
          <div class="table-cell"> {{propertie.MAF_UnitModel_c}} </div>
          <div class="table-cell">{{propertie.MAF_UnitNumber_c}}</div>
          <div class="table-cell"> {{propertie.MAF_PlotAreaSqFt_c | number:0}} </div>
          <div class="table-cell"> {{propertie.MAF_BuiltupAreaSqFt_c | number:0}} </div>
          <div class="table-cell status-column"> {{propertie.MAF_Status_c}} </div>
          <div class="table-cell price"> {{propertie.MAF_UnitPrice_c | number:0}} </div>
        </div>
        <div class="scrollbar" id="style">
          <div class="force-overflow"></div>
        </div>
        <p class="empty-list" *ngIf="!propertiesList?.length"> Units list is empty </p>
      </div>
    </div>
    <div class="summary">
      <mat-paginator [length]="countOfProperties"
                     [pageSize]="limit"
                     [pageIndex]="offset/limit"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = paginator($event)">
      </mat-paginator>
      <div>
        <!--<span>Total Units: {{countOfAllProperties}}</span>-->
        <span class="available">Available: {{countOfAvailable}}</span>
      </div>
    </div>
  </div>
</div>
