<div class="contact-details" [class]="editAllow ? 'contact-details edit' : 'contact-details'">
  <button *ngIf="!editAllow" class="edit-btn" (click)="changeEditAccess()"><img src="assets/icons/edit-icon.png"></button>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        PERSONAL DETAILS
      </ng-template>
      <app-contact-personal-details
        [leadDetails]="leadDetails"
        [contactDetails]="contactDetails"
        [editAllow]="editAllow"
        [pageName]="pageName"
        (isAllowedSave)="isAllowed($event)"
      >
      </app-contact-personal-details>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        ARABIC DETAILS
      </ng-template>
      <app-contact-arabic-details
        [contactDetails]="contactDetails"
      >
      </app-contact-arabic-details>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        ENQUIRY DETAILS
      </ng-template>
      <app-contact-enquiry-details
        [leadDetails]="leadDetails"
        [contactId]="contactId"
        [editAllow]="editAllow"
      >
      </app-contact-enquiry-details>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        ADDRESS DETAILS
      </ng-template>
      <app-contact-address-details
        [contactDetails]="contactDetails"
      >
      </app-contact-address-details>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        IDENTIFICATIONS
      </ng-template>
      <app-contact-identification
        [identificationContactData]="identificationContactData"
        [editAllow]="editAllow"
      >
      </app-contact-identification>
    </mat-tab>
  </mat-tab-group>


  <div class="action-block" *ngIf="editAllow && (pageName !== 'opportunity-details')">
    <button *ngIf="contactId === 'new'" class="cancel-bnt" (click)="goToPage('/leads')">Cancel</button>
    <button *ngIf="contactId !== 'new'" class="cancel-bnt" (click)="editAllow=false">Cancel</button>
    <button *ngIf="contactId === 'new'" (click)="createContact()">Create</button>
    <button *ngIf="contactId !== 'new'" (click)="updateData()">Update</button>
  </div>

  <div class="action-block" *ngIf="!editAllow && (pageName !== 'opportunity-details')">
    <button (click)="addUnit()">Add Unit</button>
  </div>

  <div class="expanded-action-block" *ngIf="!editAllow && (pageName === 'opportunity-details')">
    <div class="price-block ">
      <span class="price">PRICE: <b>{{leadDetails.MAF_Price_c | number : '1.2-2'}}</b></span>
      <span>Payment Plan: {{leadDetails.MAF_PaymentPlan_c}}</span>
      <span>Discount: {{leadDetails.MAF_DiscountOpty_c | number : '1.2-2'}}</span>
      <span>Total amount: <b>{{leadDetails.MAF_BdgtAmount_c | number : '1.2-2'}}</b></span>
    </div>
    <div class="btn-block">
      <button class="select-bnt" (click)="openSelectPayplanDialog(contactDetails.contactId)">Select Payment Plan</button>
      <button class="apply-bnt" (click)="openDiscountDialog(contactDetails.contactId)">Apply Discount(s)</button>
      <button class="cancel-bnt" (click)="goToPage('/generate-quote/' + contactId + '/' + leadDetails.OptyNumber)">Generate Quote</button>
      <button [matMenuTriggerFor]="requestMenu">Request</button>
      <mat-menu #requestMenu="matMenu">
        <button mat-menu-item (click)="updateStatus('Block', 'Blocking Request')">Block</button>
        <button mat-menu-item (click)="updateStatus('Reservation', 'Reservation Request')">Reserve</button>
        <button mat-menu-item (click)="updateStatus('Sale', 'Sale Request')">Sale</button>
      </mat-menu>
    </div>
  </div>
  <div class="action-block" *ngIf="editAllow && (pageName === 'opportunity-details')">
    <button class="cancel-bnt" (click)="editAllow=false">Cancel</button>
    <button *ngIf="pageName === 'opportunity-details'" (click)="updateContact()">Update</button>
  </div>
</div>
