<div class="lead-different-details">
  <div class="inputs-block">
    <div fxFlex="50">
      <div class="field-block">
        <label for="country">Country</label>
        <input id="country" type="text" [(ngModel)]="contactDetails.Country">
      </div>

      <div class="field-block" *ngIf="contactDetails.AddressLine1">
        <label for="address1">Address Line 1</label>
        <input id="address1" type="text" [(ngModel)]="contactDetails.AddressLine1">
      </div>

      <div class="field-block" *ngIf="contactDetails.AddressLine2">
        <label for="address2">Address Line 2</label>
        <input id="address2" type="text" [(ngModel)]="contactDetails.AddressLine2">
      </div>

    </div>

    <div fxFlex="50">

      <div class="field-block">
        <label for="city">City</label>
        <input id="city" type="text" [(ngModel)]="contactDetails.City">
      </div>

      <div class="field-block">
        <label for="PObox">P.O. Box</label>
        <input id="PObox" type="text" [(ngModel)]="contactDetails.AddressLine1">
      </div>
    </div>
  </div>
</div>
