<div class="lead-different-details">
  <div class="inputs-block">
    <div fxFlex="50">
      <div class="field-block">
        <label for="title">Prefix</label>
        <input id="title" type="text" [(ngModel)]="contactDetails.Title">
      </div>

      <div class="field-block">
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" [(ngModel)]="contactDetails.FirstName">
      </div>

      <div class="field-block">
        <label for="middleName">Middle Name</label>
        <input id="middleName" type="text" [(ngModel)]="contactDetails.MiddleName">
      </div>

      <div class="field-block">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" [(ngModel)]="contactDetails.LastName">
      </div>

      <div class="field-block" *ngFor="let inputData of emailInputs">
        <label [for]="inputData.id">{{inputData.name}}</label>
        <input [id]="inputData.id" type="text" [(ngModel)]="contactDetails[inputData.ngModel]" (keyup)="validateAll()" [class]="isValidEmail ? '' : 'error-field'">
        <mat-error *ngIf="!validateEmail(contactDetails[inputData.ngModel]) && contactDetails[inputData.ngModel]">
          Please enter a valid email address
        </mat-error>
      </div>
      <div class="required-err">
        <mat-error *ngIf="!contactDetails[emailInputs[0].ngModel]">
          Email is <strong>required</strong>
        </mat-error>
      </div>

      <div class="dynamically-btn" *ngIf="editAllow">
        <button class="add-field-btn" (click)="addField('email')">+ add email</button>
        <button class="remove-field-btn" (click)="removeField('email')" *ngIf="emailInputs.length > 1">- remove email</button>
      </div>

      <div class="field-block" *ngFor="let inputData of phoneInputs">
        <label [for]="inputData.id">{{inputData.name}}</label>
        <mat-select id="inputData.id" class="select-phone" [(value)]="leadDetails.PrimaryPhoneCountryCode">
          <mat-option *ngFor="let item of countries" [value]="item.code">
            {{item.name}}
          </mat-option>
        </mat-select>
        <span class="phone-code">{{leadDetails.PrimaryPhoneCountryCode}}</span>
        <input class="phone-input" [id]="inputData.id" type="text" [(ngModel)]="contactDetails[inputData.ngModel]" (keypress)="isNumberKey($event)" (keyup)="validateAll()" [class]="isValidPhoneNumber ? 'phone-input' : 'phone-input error-field'">
        <mat-error *ngIf="!validatePhoneNumber(contactDetails[inputData.ngModel]) && contactDetails[inputData.ngModel]">
          Please enter a valid phone number
        </mat-error>
      </div>
      <div class="required-err">
        <mat-error *ngIf="!contactDetails[phoneInputs[0].ngModel]">
          Phone is <strong>required</strong>
        </mat-error>
      </div>

      <div class="dynamically-btn" *ngIf="editAllow">
        <button class="add-field-btn" (click)="addField('phone')">+ add phone</button>
        <button class="remove-field-btn" (click)="removeField('phone')" *ngIf="phoneInputs.length > 1">- remove phone</button>
      </div>

      <div class="field-block">
        <label for="unit">Unit</label>
        <p id="unit">{{leadDetails.UnitNumber_c}}</p>
        <button class="add-field-btn" (click)="addigUnit()" *ngIf="!leadDetails.UnitNumber_c">+ add property</button>
      </div>

      <div class="dynamically-btn" style="justify-content: flex-end">
        <button class="add-field-btn" (click)="goToPage('/unit-details/' + leadDetails.MAF_Product_Id_c)" *ngIf="leadDetails.UnitNumber_c">SHOW INFO</button>
        <button class="change-btn" (click)="goToPage('/units')" *ngIf="leadDetails.UnitNumber_c">CHANGE</button>
      </div>

      <div class="attachment-block">
        <p>Attachments:</p>
        <angular-file-uploader
          *ngIf="editAllow"
          [config]="afuConfig">
        </angular-file-uploader>
      </div>
    </div>

    <div fxFlex="50">
      <div class="field-block">
        <label for="nationality">Nationality</label>
        <input id="nationality" type="text" [(ngModel)]="contactDetails.PersonDEO_Nationality_c">
      </div>

      <div class="field-block">
        <label for="type">Type</label>
        <input *ngIf="contactDetails.Type" id="type" type="text" [(ngModel)]="contactDetails.Type">
        <input *ngIf="!contactDetails.Type" id="type" type="text" value="Prospect" disabled style="background-color: transparent">
      </div>

      <div class="field-block">
        <label for="dateOfBirth">Date of Birth</label>
        <input id="dateOfBirth" matInput [matDatepicker]="birthDatePicker" [(ngModel)]="contactDetails.DateOfBirth">
        <mat-datepicker-toggle class="personal-details-date" matSuffix [for]="birthDatePicker" *ngIf="editAllow"></mat-datepicker-toggle>
        <mat-datepicker #birthDatePicker></mat-datepicker>
      </div>

      <div class="field-block">
        <label for="residence">Residence</label>
        <input id="residence" type="text" [(ngModel)]="contactDetails.PersonDEO_Residence_c">
      </div>

      <div class="field-block">
        <label for="gender">Gender</label>
        <mat-select id="gender" [(value)]="contactDetails.Gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </div>

      <div class="field-block">
        <label for="owner">Owner</label>
        <input id="owner" type="text" [(ngModel)]="contactDetails.OwnerName">
      </div>
    </div>
  </div>
</div>
