<div class="lead-different-details">
  <button class="google-btn">Google translate</button>
  <div class="inputs-block">
    <div fxFlex="50">
      <div class="field-block">
        <label for="arabicFirstName">Arabic First Name</label>
        <input id="arabicFirstName" type="text" [(ngModel)]="contactDetails.PersonDEO_ArabicFirstName_c">
      </div>

      <div class="field-block">
        <label for="arabicMiddleName">Arabic Middlle Name</label>
        <input id="arabicMiddleName" type="text" [(ngModel)]="contactDetails.PersonDEO_ArabicMiddleName_c">
      </div>

      <div class="field-block">
        <label for="arabicLastName">Arabic Last Name</label>
        <input id="arabicLastName" type="text" [(ngModel)]="contactDetails.PersonDEO_ArabicLastName_c">
      </div>

    </div>

    <div fxFlex="50">
      <div class="field-block">
        <label for="arabicFirstNameFather">Arabic First Name of Father</label>
        <input id="arabicFirstNameFather" type="text" [(ngModel)]="contactDetails.PersonDEO_MAF_ArabicFirstNameOfFather_c">
      </div>

      <div class="field-block">
        <label for="arabicFirstNameMother">Arabic First Name of Mother</label>
        <input id="arabicFirstNameMother" type="text" [(ngModel)]="contactDetails.PersonDEO_MAF_ArabicFirstNameOfMother_c">
      </div>

      <div class="field-block">
        <label for="arabicAddress">Arabic Address</label>
        <input id="arabicAddress" type="text" [(ngModel)]="contactDetails.PersonDEO_MAF_AddressArb_c">
      </div>
    </div>
  </div>
</div>
