<div class="leads new">
  <div style="display: flex">
    <!--<button fxFlex="19" class="get-lead-btn" (click)="goToPage('/create-lead')">GET NEXT LEAD</button>-->
    <div fxFlex="100">
      <app-search
        [inputList]="leadsListOriginal"
        [searchColumns]="searchColumns"
        (searchChange)="changeSearch($event)"
      ></app-search>
      <app-filter
        [type]="'leads'"
        (changeFilter)="changeFilter($event)"
        (changeFilterParams)="changeFilterParams($event)"
      ></app-filter>
    </div>
  </div>
  <div class="leads-table">
    <div class="table">
      <div class="table-header">
        <div class="table-cell" *ngFor="let element of displayedColumns" (click)="sortByKey(element)" [class]="'table-cell ' + element.sort">
          {{element.name}}
          <i class="fa fa-chevron-down" *ngIf="element.sort"></i>
        </div>
      </div>
      <div class="table-body">
        <div class="table-row" *ngFor="let lead of opportunitiesList" (click)="goToPage('/contact-details/' + lead.PrimaryContactId + '/' + lead.LeadId)">
          <div class="table-cell lead-number">
            <div>
              <p>{{lead.LeadNumber}}</p>
            </div>
          </div>
          <div class="table-cell">{{lead.PrimaryContactPartyName}}</div>
          <div class="table-cell"> {{lead.OwnerPartyName}} </div>
          <div class="table-cell">{{lead.MAF_Project_c}}</div>
          <div class="table-cell">{{lead.MAF_ProductType_c}}</div>
          <div class="table-cell"> {{lead.CreationDate | date : 'dd/MM/yyyy' }} </div>
          <div class="table-cell"> {{lead.LastUpdateDate | date : 'dd/MM/yyyy' }} </div>
        </div>
        <div class="scrollbar" id="style">
          <div class="force-overflow"></div>
        </div>
        <p class="empty-list" *ngIf="!leadsList?.length"> Leads list is empty </p>
      </div>
    </div>
    <div class="summary">
      <mat-paginator [length]="countOfLeads"
                     [pageSize]="limit"
                     [pageIndex]="offset/limit"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = paginator($event)">
      </mat-paginator>
      <div>
        <span>Total Leads: {{countOfLeads}}</span>
      </div>
    </div>
  </div>
  <button class="add-new-btn" (click)="goToPage('/contact-details/new/new')">+</button>
  <!--<button class="add-new-btn" (click)="goToPage('/create-lead')">+</button>-->
</div>
