.properties-details {
  background-color: white;
  height: calc(100vh - 68px);

  .custom-container {
    height: calc(100vh - 68px - 90px);
    background-color: #f3f3f3;
    overflow-y: auto;

    .unit-info {
      width: 300px;
      padding-left: 29px;
      font-size: 16px;
      background-color: #ffffff;
      float: left;
      overflow-y: auto;
      height: 100%;

      h3 {
        margin: 0;
        padding: 20px 0;
        color: #8a1638;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
      }

      span {
        margin-bottom: 5px;
        color: #637381;

        &.label {
          color: #28323d;
          font-family: Helvetica;
        }

        &.empty:before {
          content: 'N/A';
          opacity: 0.2;
          font-family: Helvetica;
        }
      }
    }

    @supports (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
      .unit-info {
        padding-bottom: 70px;
      }
    }

    .gallery {
      width: calc(100vw - 300px);
      margin-left: 300px;

      mat-tab-group {
        padding: 18px 28px;
        min-width: 500px;
      }
    }
  }
}
