/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/HelveticaRegular.ttf');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/HelveticaLight.ttf');
}

body {
  margin: 0;
  padding: 0;
}

button {
  outline: none!important;
  cursor: pointer;
}

////Table////
.table {
  font-size: 14px!important;
  color: #171717;
  font-family: Roboto;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 0;

  .table-header {
    color: #171717;
    display: flex;
    position: sticky;
    top: 38px;
    background-color: #e3e3e3;
    height: 50px;
    min-height: 50px;
    z-index: 9;
    padding: 0 6px 0 0;

    .table-cell:first-child {
      flex: 2;
      padding-left: 15px;
    }

    .table-cell {
      &.asc {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
  .table-body {
    background: #ffffff;
    overflow: auto;
    height: calc(100vh - 68px - 45px - 56px - 20px - 50px);
    .table-row {
      display: flex;
      &:hover {
        background-color: #e3e3e3;
        cursor: pointer;

        .pencil-icon {
          display: block;
        }
      }
    }

    .empty-list {
      text-align: center;
      font-size: 18px;
      color: #212b36;
      font-family: Helvetica;
    }
  }
  .table-cell {
    flex: 1;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
    word-wrap: break-word;
    cursor: pointer;
    overflow: hidden;

    &.empty:before {
      content: "N/A";
      opacity: 0.2;
      font-family: Helvetica;
    }

    span{
      vertical-align: middle;
    }

    &.unit-name {
      flex: 2;
      display: flex;
      margin: 7px 0;
      padding-left: 15px;
      img {
        margin-right: 10px;
      }
      div {
        height: 36px;
        p {
          line-height: 36px;
          margin: 0;
        }
      }
    }

    &.status-column   {
      color: #01b1b0;

      &.inactive{
        color: #d0021b;
      }
    }

    &.price {
      color: #f89716;
    }

    &.action {
      display: flex;
      flex: 0.5;
      max-width: 64px;
      text-align: center;

      .pencil-icon {
        display: none;
        padding: 12px 25px;
      }
    }

    img {
      transition: 0.3s;
      &.reverse {
        transform: rotate(180deg);
        transition: 0.3s;
      }
    }
  }
}

/////////////Scrollbar////////////////////

.table-body::-webkit-scrollbar,
.custom-container::-webkit-scrollbar,
.bright_content::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

.table-body::-webkit-scrollbar-track,
.custom-container::-webkit-scrollbar-track,
.bright_content::-webkit-scrollbar-track {
  background: transparent;
}

.table-body::-webkit-scrollbar-thumb,
.custom-container::-webkit-scrollbar-thumb,
  .bright_content::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  outline: 1px solid slategrey;
  width: 6px;
  border-radius: 5px;
}
////////////////Disabled screen////////////////////
.dark_overlay {
  display: none;
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: calc(100vh - 68px);
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.bright_content {
  background-image: url("assets/images/bg.png");
  position: absolute;
  top: 68px;
  right: 0;
  width: 278px;
  height: calc(100vh - 68px);
  z-index: 1002;
  overflow: auto;
  -webkit-transition: ease; /* Safari */
  transition: ease;
}

.mat-tab-labels {
  background-color: #ffffff;
}

.mat-tab-label {
  width: 50%!important;
  color: #8a1638;
  font-size: 14px;
  font-family: Helvetica;
}

.mat-tab-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  margin-bottom: 13px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #8a1638;
  height: 3px;
}

.mat-tab-body-content {
  overflow: hidden!important;
  img {
    width: 100%!important;
    height: auto;
  }
}

/////////////Styles for carousel///////////

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

ngx-gallery ngx-gallery-image .ngx-gallery-arrow {
  background-color: #000000;
  opacity: 0.31!important;
  padding: 18px 15px;
  height: 60px;
  vertical-align: middle;
  i {
    color: #c1c1c1;
  }
}
//
//ngx-gallery-preview {
//  position: fixed!important;
//}
//
//.ngx-gallery-preview-wrapper {
//  z-index: 1000000;
//  position: fixed!important;
//}

.ngx-gallery-arrow-left .ngx-gallery-arrow{
  left: 0!important;
}

.ngx-gallery-arrow-right .ngx-gallery-arrow {
  right: 0!important;
}


////////////////////////Video carousel//////////////////////////
.carousel-control-next.ng-star-inserted,
.carousel-control-prev.ng-star-inserted {
  background-color: rgba(0, 0, 0, 0.31);
  width: 44px;
  height: 60px!important;
  top: calc(50% - 30px);
}

.carousel .carousel-control-prev-icon {
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel .carousel-control-next-icon {
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.video-fluid {
  width: 100%!important;
  height: 700px;
}

@media screen and (max-width: 1400px) {
  .video-fluid {
    height: 500px!important;
  }
}

@media screen and (max-width: 800px) {
  .video-fluid {
    height: 300px!important;
  }
}
//////////////////Pagination///////////
.mat-select-value {
  text-align: center;
}



