.home-page {
  display: table-cell;
  vertical-align: middle;
  background-image: url("../../assets/images/bg.png");
  height: calc(100vh - 68px);
  width: 100vw;
  background-size: cover;

  .box {
    //width: 399px;
    height: 375px;
    min-width: 240px;
    //max-width: 45%!important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    background-color: #ffffff;
    text-align: center;
    margin: 22px;
    display: table;

    & > div {
      display: table-cell;
      vertical-align: middle;
      font-family: Roboto;
      font-size: 21px;

      .line {
        margin: 35px auto;
        width: 80%;
        border-bottom: 1px solid #cacaca;
      }
    }
  }
}

@media screen and (max-width: 900px)  {
  .home-page {
    display: block;
    width: inherit;
    height: 100%;

    .box {
      margin: 15px auto;

      img {
        height: 70px;
        margin-top: 10px;
      }

      .line {
        margin: 15px auto;
      }
    }
  }
}
