<div class="home-page">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div class="box" fxFlex="50" style="opacity: 0.7; cursor: not-allowed">
      <div>
        <img src="assets/images/leads.png">
        <div class="line"></div>
        <p>LEADS</p>
      </div>
    </div>
    <div class="box" fxFlex="50" (click)="goToPage('/units')">
      <div>
        <img src="assets/images/properties.png">
        <div class="line"></div>
        <p>PROPERTIES</p>
      </div>
    </div>
  </div>
</div>
